@keyframes menu-chs {
    to {
        width: 100vw;
        border: solid 2px black;

        background: url(./img/nc9416.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;

        color: white;
        text-shadow: 0 0 10px white;
        box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
        z-index: 2;

        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;

        text-align: right;
    }
}

@keyframes menu-cho {
    from {
        width: 100vw;
        border: solid 2px black;

        background: url(./img/nc9416.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;

        color: white;
        text-shadow: 0 0 10px white;
        box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
        z-index: 2;

        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;

        text-align: right;
    }

    to {
        width: 45vmin;

        background: rgba(255, 255, 255, .4);
        border: solid 2px white;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

        text-align: left;
    }
}

#menu {
    position: absolute;
    top: 2vmin;
    right: 0;
    width: 45vmin;
    height: 10vmin;

    font-size: 8vmin;
    background: rgba(255, 255, 255, .6);
    border: solid 2px white;
    cursor: pointer;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    box-shadow: -5px 0 5px rgba(255, 255, 255, .5), 0 5px 5px rgba(255, 255, 255, .5), 0 -5px 5px rgba(255, 255, 255, .5);
    text-shadow: 0 0 10px white;
}

#menu.hover {
    animation-name: menu-chs;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

#menu.out {
    animation-name: menu-cho;
    animation-delay: 350ms;
    animation-duration: 350ms;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu:hover {
    background: linear-gradient(90deg, rgba(16, 87, 121, 1), rgba(16, 87, 121, .3));
    color: white;
    transition-timing-function: ease-out;
}

.input-range[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255, 255, 255, .7);
    height: 2px;
    width: calc(100% - 3em);
    border-radius: 6px;

    &:focus,
    &:active {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        display: block;
        border: 1px solid #717171;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }
}

/*-----------------------------------------------------------------------------*/
.menus-style {
    position: absolute;
    top: calc(10vmin - 2px);
    right: -2px;
    width: calc(100vw + 4px);
    height: 0;

    background: url(./img/nc119332.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    z-index: auto;
    overflow: hidden;
    color: white;

    text-align: left;
}

.menus-style.hover {
    position: absolute;
    height: calc(100vh - 12vmin - 2vmin);

    background: url(./img/nc119332.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    ;
    transition-delay: 450ms;
    z-index: 1;
}

.menus-contents-style {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 16px);
    height: inherit;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -16px;
    margin-left: 0;
    list-style: none;
    padding: 0;

    text-shadow: 0 0 5px white;
}

.menus-contents-style li {
    margin: 0;
    margin-left: .5em;
    margin-top: .25em;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.menus-contents-style li:hover {
    background: linear-gradient(90deg, rgba(16, 87, 121, .9), rgba(16, 87, 121, .1));
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 10px white;
    color: white;
}