* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family:
		/*"うずらフォント",/*"Segoe Script",*/
		"Open Sans", "Rounded Mplus 1c", "Kokoro", 'Noto Sans Japanese', "Yu Gothic", "Meiryo UI", sans-serif;
	font-weight: 300;
}

#bg {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(./img/d45c9a196bf9fafaeb3234b7bec8897c_t.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#slide_chara {
	position: absolute;
	top: 40vh;
	right: -20vh;
	height: 20vh;
	width: 20vh;

	background-image: url(./img/chara/1.png);

	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#slide_chara.true {
	animation-name: slide;
}

@keyframes slide {
	to {
		right: calc(100vw + 20vh);
	}
}

#slide_chara.false {
	right: -20vh;
}

#load {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: black;
	text-shadow: 0 0 10px white;

	font-size: 10vw;
	color: white;
	text-align: center;
	z-index: auto;
}

#load.true {
	width: 100%;
	transition-duration: 500ms;
	z-index: 3;
}

@keyframes tp {
	from {
		height: 0;
	}

	to {
		height: 7vh;
	}
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100vw;
	background: rgba(16, 87, 121, 1);
	border-bottom: solid 2px white;
	z-index: 2;

	animation-name: tp;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 500ms;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

@keyframes tpb {
	from {
		width: 0vw;
	}

	to {
		width: 100vw
	}
}

#top_back {
	position: absolute;
	top: 0;
	left: 0;
	height: 7vh;
	background: black;
	z-index: 2;

	animation-name: tpb;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

#back {
	position: absolute;
	color: white;
	font-size: 6vh;
	left: 1vw;
	width: 4em;
	cursor: pointer;
	text-align: center;
}

#back:hover {
	box-shadow: 3px 0 15px 1px white, -3px 0 15px 1px white;
	text-shadow: 0 0 10px white;
}

@keyframes tlt {
	from {
		left: -20vh;
	}

	to {
		left: 100vw;
	}
}

#tlight {
	position: absolute;
	top: -5vh;
	left: -20vh;
	width: 17vh;
	height: 17vh;
	background: radial-gradient(circle closest-side, rgba(50, 200, 250, 1), rgba(16, 87, 121, 1));

	animation-name: tlt;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-delay: 1s;
}

#menu {
	position: absolute;
	top: 0;
	right: 1vw;
	height: inherit;
	width: 3em;

	font-size: 6vh;
	text-align: center;
	color: white;
	cursor: pointer;
}

#menu:hover {
	box-shadow: 3px 0 15px 1px white, -3px 0 15px 1px white;
	text-shadow: 0 0 10px white;
}

.menu-style {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	margin-right: -16px;

	background: url(./img/nc119333.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	transition: all 500ms;
	vertical-align: top;
	overflow-y: scroll;
}

.menu-style.true {
	width: calc(100vw + 16px);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-style.false {
	width: 0;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.menu-style li {
	cursor: pointer;
	font-size: 5vh;
	width: 100vw;

	margin-left: .5em;
	margin-top: .25em;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: white;
}

.menu-style li:hover {
	background: linear-gradient(90deg, rgba(16, 87, 121, .9), rgba(16, 87, 121, .1));
	text-shadow: 0 0 10px white;
	color: white;
	box-shadow: 0 0 5px 1px white;
}

.menus-contents-style {
	position: absolute;
	height: 100%;
	top: 1.5vh;
	left: 1.5vh;
}

#left {
	position: absolute;
	top: 7vh;
	left: 0;
	width: 100vw;
	height: 93vh;
	transition: all 350ms ease-out;
}

#level {
	top: 0;
	left: 0;
	width: unset;
	height: inherit;
	margin-right: -16px;
	overflow-y: scroll;
}

#level li {
	margin-left: calc(1em - 5px);
	cursor: pointer;
	font-size: 5vh;
	width: 100vw;

	border-radius: 5px;
	/* CSS3草案 */
	-webkit-border-radius: 5px;
	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;
	/* Firefox用 */

	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
}

#level li:hover {
	background: linear-gradient(90deg, rgba(16, 87, 121, .9), rgba(16, 87, 121, .1));
	text-shadow: 0 0 10px white;
	color: white;
	box-shadow: 0 0 5px 1px black;
}

#level ul {
	height: 0;
	width: 100vw;
	margin-left: 1em;
	font-size: 5vh;
	color: white;
	text-shadow: 0 0 5px white;

	overflow-y: scroll;

	background-image: url("./img/nc119334.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: calc(100vw - 1em) auto;

	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0, 1.3, 1, .8)
}

#right {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: url(./img/nc119332.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;

	transition-property: all;
	transition-duration: 350ms;
	transition-timing-function: ease-out;
}

#right.true {
	width: 30vw;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#right.false {
	width: 0vw;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#right_info {
	position: absolute;
	top: 1.5vh;
	left: 1.5vh;
	height: calc(100% - 5% - 5% - 5% - 1vh);
	width: calc(100% - 1vh);

	font-size: 3vh;
	color: white;
	text-shadow: 0 0 10px white;

	/*background-color: rgba(255, 255, 255, .3);*/
}

#right_info_hidden {
	opacity: 0;
}

.right-button {
	position: absolute;
	width: 40%;
	bottom: 5%;
	height: 5%;
	background-color: white;

	font-size: 4ex;
	text-align: center;

	border-radius: 5px;
	/* CSS3草案 */
	-webkit-border-radius: 5px;
	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;
	/* Firefox用 */

	cursor: pointer;
	/*border: solid 2px white;*/
	transition-duration: 100ms;
	transition-timing-function: ease-in;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.right-button:hover {
	background-color: rgba(16, 87, 121, 1);
	box-shadow: 0 0 10px 5px white;
	/*text-shadow: 0 0 10px white;
	color: white;*/
}

#right-close {
	right: 5%;
	background-image: url(./img/Close2.png);
}

#right-close:hover {
	background-image: url(./img/Close_light2.png);
}

#start {
	left: 10%;
	background-image: url(./img/Start2.png);
}

#start:hover {
	background-image: url(./img/Start_light2.png);
}